@model DataLayer.Models.Worker

@{
    ViewData["Title"] = "Get Worker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Worker</h2>
<p>
    <a asp-action="Create">Create new Worker</a>
</p>


<div id="tableDiv">
    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>

            </tr>

        </thead>


        <tbody>
            
            
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Age</td>
                    <td>@Model.Salary</td>
                    <td>@Html.ActionLink("Update", "Update", new { id = Model.WorkerId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = Model.WorkerId })</td>
                </tr>
            

        </tbody>

    </table>


</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
